
/*$font:'Oswald', sans-serif;
$font2:'Lobster Two', cursive;
$primary:#081116;//dark blue
$secondry:#f7941d;//yellow orange
$third:#6699ff;//light blue
$natural:#e3d6c3;*/

@charset "utf-8";
body,ul,li,h2,h3,p{
	margin:0px;
	padding:0px;
	font-family:'Oswald', sans-serif;
	font-size:1.2rem;
	color:#e3d6c3;
}


* { box-sizing: border-box; }

/**********-------header-----------*****/
header{
    height: 700px;
    padding-bottom: 40px;
    background-image: url(images/header-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}


nav ul {
	display:flex;
	justify-content: flex-end;
	margin:0px 10px;

}

nav a{
    text-align: center;
    color: #e3d6c3;
    font-size: .6rem;
    list-style-type: none;
    background-color: #6699ff;
    border-radius:6px;
    border: 1px solid #6699FF;
    padding:2px 5px;
    width:50px;
    margin: 10px 4px;
    text-decoration: none;
}


nav a:hover{
	text-decoration: none;
	background-color:#F7941D;
	
    }

h1{
	font-family:'Lobster Two', cursive;
	font-size:2.8em;
	color:#f7941d;
	text-align: center;
	margin-bottom:5px;
	margin-top: 130px;
	
	
}

#h1{
	width:350px;
	margin:auto;
	position:relative;
}

header img{
	position:absolute;
	
}
#leaves{
	left:26px;
	top:27px;
}

#flowers{
	right:28px;
	top:-11px;
}


header h2{
	color:#e3d6c3;
	font-size:1.7em;
	text-align:center;
	margin-bottom:210px;
}

#CTA li {
     background-color:#f7941d;
     border-radius:6px;
     border: 1px solid #f7941d;
     padding: 10px;
     width:200px;
     margin: 30px auto;
	 list-style-type: none;
	 color: #081116;
	 text-align: center;
     font-size:1.5rem;
}

#CTA a{
	text-decoration: none;
	
}
	
#CTA a:hover{
	color:#081116;
	text-decoration:underline;
}

/*****---------section Album------******/
#album{
    background-image: url(images/background.jpg);
    background-position: left top;
    background-repeat: no-repeat;
}
#album img{
	width:70vw;
	height:auto;
	margin:30px 15vw 10px;
}
#audiocontrol img{
    width:90vw;
	height:auto;
}

#list{
	margin:30px 0px 50px;
	padding:0px 9vw;
	
}

.list{
	list-style-type: none;
	display:flex;
	border-top: 1px solid #E3D6C3;
    background-image: url(images/playbutton.png);
    background-position: left center;
    background-repeat: no-repeat;
	
}
.list h3{
    margin: 5px 30px;
    width: 60%;
    color: #f7941d;
   
 }
.list p{
	margin:0px;
	font-size:.6rem;
	padding:9px 0px;
	font-family:'Lobster Two', cursive;
}

#hero h2{
	font-family:'Lobster Two', cursive;
	color:#f7941d;
	font-size:2rem;
	margin:auto;
	text-align: center;
	
}
#hero p{
	margin:20px 12vw;
	line-height: 1.5rem;
}
#lyric{padding:0px 12vw 40px;}
#lyric h3{
	font-family:'Lobster Two', cursive;
	color:#f7941d;
	font-size:1.2rem;
	margin:auto;
	margin:50px 0px 20px;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color:transparent;
  color: #E3D6C3;
  cursor: pointer;
  padding: 5px 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size:1rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color:#0A1F28;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 15px 18px;
  font-size:1.4rem;
  display: none;
  overflow: hidden;
  background-color:#081116;
}

/******-------section event-----------****/
#event h3{
	
	color:#E3D6C3;
	font-size:1.3rem;
	margin:20px auto;
	text-align: center;
}
#event .color{
	color:#B07022;
	font-size:1.1rem;
}

/****------footer------*****/
a{
	color:#f7941d;
}

a:hover{
	color:#E3D6C3;
}



@media only screen and (min-width: 510px){
header{
    background-image: url(images/header-580.jpg);
    background-repeat: no-repeat;
    background-position: right top;
	}
	
	#h1{margin:0px;}
	header h2,#CTA li {
		margin:50px;
	}
	header h2{
		text-align: left;
	}
	#album{
    background-image: none;
	}
	#parallex1{
    height:100vh;
    background-image: url(images/album.jpg);	
	background-attachment: fixed;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
   
	}
	#songlist{
    display: flex;
    flex-wrap: wrap;
    margin:0px 40px;
    background-color: #081116;
    border-radius: 6px;
    border: 1px solid #081116;
	
	}
	#songlist img{
		flex-basis:35%;
		order:1;
		margin:50px 10px 30px;
		width:40vw;
	}
	#songlist #audiocontrol{
		width:100%;
		order:3;
		margin:0px auto 30px;
	}
	#songlist #list{
		order:2;
		flex-basis:40%;
		padding:0px;
		margin:auto;
	}
	#collaps{
    margin:0px 40px;
    background-color: #081116;
    border-radius: 6px;
    border: 1px solid #081116;
		
	}
	#hero h2{
		margin-top:40px;
	}
	#lyric{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap:33px;
	}
	#lyric h3{
		grid-column: 1/4;
	}
	
	#parallex2{
    height: 100vh;
    background-image: url(images/hero.jpg);
    background-attachment: fixed;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;   
	}
	
	.background{
		height:520px;
		padding:20px 0px;
		background-color:hsla(33,89%,55%,0.24); 
	}
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	